/* Establece un estilo base para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Establece un estilo para el cuerpo de la página */
body {
    min-height: 100vh;
    background-color: #0ea0aa;
    display: grid;
    place-items: center;
}

/* Estilos para la calculadora en sí */
.calculadora {
    background-color: #178b08;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

/* Estilos para la pantalla de la calculadora */
.pantalla {
    grid-column: 1 / -1;
    background-color: #093124;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

/* Estilos para los botones de la calculadora */
.btn {
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

/* Cambia el color de fondo al pasar el ratón sobre los botones */
.btn:hover {
    background-color: #090c31;
}

/* Estilos específicos para el botón cero */
#cero {
    grid-column: span 2; /* Hace que el botón cero ocupe dos columnas */
}

/* Estilos específicos para el botón igual */
#igual {
    grid-row: span 2; /* Hace que el botón igual ocupe dos filas */
    background-color: #752e35; /* Cambia el color de fondo del botón igual */
}

/* Cambia el color de fondo al pasar el ratón sobre el botón igual */
#igual:hover {
    background-color: #e65766;
}